*,
 ::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Magical';
    src: url('../fonts/MagicalStylishSansSerifDemo.woff') format('woff'), url('../fonts/MagicalStylishSansSerifDemo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    overflow-x: hidden;
}

:root {
    --white: #fff;
    --black: #111113;
    --pink: #b0e0e9;
    --darkblue: #090a1a;
    --blue: #647bff;
}

nav {
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    padding: 0 100px;
}

nav .links {
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
}

nav .links li {
    list-style: none;
}

nav .links a,
.header-line {
    text-decoration: none;
    color: var(--white);
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 1.2rem;
    font-weight: 100;
    /* filter: drop-shadow(-2px 0 2px white); */
}

nav .links a:hover,
.header-line:hover {
    color: var(--cyan);
}

#nav-toggle {
    position: absolute;
    display: none;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

.section-one {
    height: 100vh;
    width: 100%;
}

.home-container {
    height: 100%;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

h1 {
    font-family: 'Magical';
    color: var(--white);
    font-weight: 400;
    font-size: 7rem;
    transition: 0.5s ease-in-out;
    width: 50%;
}

h1:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

h2,
h3 {
    font-family: 'Poppins';
    color: var(--white);
    font-weight: 200;
    font-size: 4rem;
}

.section-two {
    height: 100vh;
    width: 100%;
    background: var(--white);
}

@media only screen and (max-width: 850px) {
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: white;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .icon-burger {
        display: block;
        z-index: 10;
        right: 10%;
        top: 70%;
        filter: drop-shadow(-2px 0 2px black);
    }
    nav :checked~.links {
        left: 0;
    }
    nav .links a {
        font-size: 32px;
        filter: drop-shadow(0px 0 0px black);
    }
    nav .links li {
        padding: 25px 0;
    }
    .header-line {
        display: none;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(6px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    .nav-hr-container,
    #hide-mobile-nav-contact {
        display: flex;
    }
    .nav-hr-container,
    .mobile-nav-contact-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .mobile-nav-contact {
        width: 70%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .nav-residential,
    .nav-office,
    .nav-retail {
        border: none;
        padding: 0;
    }
}