*,
 ::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    .black-text{
        color: #111113!important;
    }
    .bg-darkblue{
        background: #00003b!important;
    }
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Magical';
    src: url('../fonts/MagicalStylishSansSerifDemo.woff') format('woff'), url('../fonts/MagicalStylishSansSerifDemo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: var(--darkblue);
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: transparent;
}
html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Poppins';
}

:root {
    --white: #fff;
    --black: #111113;
    --pink: #b0e0e9;
    --darkblue: #00003b;
    --blue: #647bff;
}


/* Nav =============================================================================================================================================== */

nav {
    position: fixed;
    z-index: 30;
    left: 0;
    top: -30%;
    right: 0;
    padding: 1% 5%;
    transition: all 1.5s ease-out;
}

.navbar-background{
    background: var(--white);
    z-index: 2;
    left: 0;
    top: -100%;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 10px 45px 3px rgb(0 0 0 / 7%);
}
.header-cta{
    border-radius: 5px;
    color: var(--black);
    transition: all 0.3s ease-in-out;
}

.front-cta-primary{
    border-radius: 5px;
    background: var(--darkblue);
}

.front-cta-secondary{
    border-radius: 5px;
    background: var(--white);
    border: 1px solid var(--darkblue);
}

nav .links {
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 50%;
    position: relative;
    z-index: 30;
}

nav .links li {
    list-style: none;
}

nav .links a,
.header-line {
    text-decoration: none;
    color: var(--black);

    font-weight: bold;
    font-size: 1rem;
    font-weight: 100;
    /* filter: drop-shadow(-2px 0 2px white); */
}

nav .links a:hover,
.header-line:hover {
    color: var(--cyan);
}

#nav-toggle {
    position: absolute;
    display: none;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}

nav .icon-burger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

.section-one,
.section-two,
.section-three,
.section-four,
.section-five,
.section-seven {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.section-eight{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 5%;
}


/* Section One =============================================================================================================================================== */

.section-one {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background: var(--white);
}
.front-soc-icon{
    opacity: 0;
    transform: translateY(70%);
    transition: all 1.7s ease-out;
}
.front-soc-icon a{
    background: var(--black);
    padding: 0 5px;
    border-radius: 50%;
}
.section-one-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: center;
}
.front-cta-container{
    opacity: 0;
    transform: translateY(40%);
    transition: all 1.3s ease-out;
}

.header-hello {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 100;
    color: var(--black);
    opacity: 0;
    transform: translateY(30%);
    transition: all 1s ease-out;
}

.header-name {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 600;
    color: var(--black);
}

.header-tag {
    font-family: 'Magical';
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--black);
}


/* Section Two =============================================================================================================================================== */

.section-two {
    position: relative;
    z-index: 1;
    width: 100%;
    background: var(--darkblue);
}

.section-two-container-one {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: end;
    justify-content: center;
    margin: 0 0 5% 0;
}

.section-two-container-two {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: center;
}

.about-me-header {
    font-family: 'Magical';
    font-size: 3rem;
    font-weight: 400;
    color: var(--white);
}

.about-me-par {
    padding: 20px 0 0;
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 100;
    width: 100%;
    text-align: right;
    color: var(--white);
}

.about-me-par-2 {
    padding: 20px 0 0;
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 100;
    width: 100%;
    text-align: left;
    color: var(--white);
}
.col-about-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.col-dsc-about-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.col-my-image-container,.col-dsc-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-my-image,.col-dsc-image{
    height: 100%;
    width: 60%;
    border-radius: 25px;
    object-fit: contain;
}


/* Section Three =============================================================================================================================================== */

.section-three {
    position: relative;
    z-index: 1;
    width: 100%;
    background: var(--white);
}

.section-three-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.skills-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills-header {
    font-family: 'Magical';
    font-size: 3rem;
    font-weight: 300;
    color: var(--black);
}
.skills-logo{
    font-size: 1.7rem;
    margin: 0 0 5px 0;
    color: var(--black);
}

.skills-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 2% 0;
    border-radius: 25px;
    box-shadow: 5px 10px 45px 3px rgb(0 0 0 / 7%);
}

.languages-container,
.databases-container,
.platform-container,
.software-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* box-shadow: 5px 10px 45px 3px rgb(0 0 0 / 7%); */
}

.language-header,
.database-header,
.platform-header,
.software-header {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 0 25px 0;
}

.skills-container-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
}

.skills-contents {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
    margin: 0 0 20px 0;
}


/* Section Four =============================================================================================================================================== */

.section-four {
    position: relative;
    z-index: 1;

    width: 100%;
    background: var(--darkblue);
}

.section-four-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.projects-header {
    font-family: 'Magical';
    font-size: 3rem;
    font-weight: 300;
    color: var(--white);
}


/* Section Five =============================================================================================================================================== */

.section-five {
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    background: var(--white);
}

.section-five-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.resume-header {
    font-family: 'Magical';
    font-size: 3rem;
    font-weight: 300;
    color: var(--black);
    margin-bottom: 3%;
}

.experience-container {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 5px 10px 45px 3px rgb(0 0 0 / 7%);
    padding: 3% 0;
    padding-right: 3%;
}

.experience-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-header {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--black);
}

.experience-all-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.experience-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    background: var(--white);
    border-radius: 15px;
    box-shadow: 5px 10px 45px 3px rgb(0 0 0 / 7%);
    width: 100%;
    margin: 15px 0;
}
.experience-list-container h4{
    padding-bottom: 5px;
}

.experience-list-container h4:last-of-type{
    padding-bottom: 0px;
}

.experience-list-header {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--black);
    padding-bottom: 15px;
}

.experience-list-position,
.experience-list-location,
.experience-list-date {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1rem;
    color: var(--black);
}

.breakline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

.hr {
    height: 1px;
    width: 100%;
    background: var(--black);
}


/* Section Six =============================================================================================================================================== */

.section-six {
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-image: url('https://vincebarnachea.github.io/assets/bg.png');
    background-position: center;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

.section-six-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section-six-header {
    font-family: 'Arial';
    font-weight: 400;
    -webkit-text-fill-color: transparent;
    font-size: 20rem;
    line-height: 17rem;
    font-weight: 400;
    -webkit-text-stroke: 4px var(--white);
    -webkit-transition: all 0.5s ease-in-out;
}

#never{
   position: relative;
}
#stop{
    position: relative;
}
#learning{
   position: relative;
}
.section-six-header:hover{
    font-weight: 400;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 4px var(--white);
}

/* Section Seven =============================================================================================================================================== */

.section-seven {
    position: relative;
    z-index: 1;
    width: 100%;
    background: var(--white);
}



.certificate-header {
    font-family: 'Magical';
    font-size: 3rem;
    font-weight: 300;
    color: var(--black);
}

.certificate-wrapper{
    background: var(--white);
    border-radius: 10px;
    box-shadow: 5px 10px 45px 3px rgb(0 0 0 / 7%);
}

.cert-image{
    aspect-ratio: 4/3;
}




/* Section Eight =============================================================================================================================================== */

.section-eight {
    position: fixed;
    bottom: 0;
    z-index: 0;
    width: 100%;
    background: var(--darkblue);
}

.section-eight-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.contact-header {
    font-family: 'Magical';
    font-size: 3rem;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 3%;
}

.contact-row{
    width: 100%;
}

.gmail-header,.get-in-touch-header{
    color: var(--white);
    font-size: 1.3rem;
    text-align: center;
}

.contact-col{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.gmail-address-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}
.get-in-touch-icons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}
.get-in-touch-icons-container a{
    border-radius: 50%;
    text-decoration: none;
    margin: 0 5px 0;
    transition: all ease-in-out 0.3s;
}
.get-in-touch-icons-container a:hover{
    background: var(--white);
}
.get-in-touch-icons-container a:hover .get-icon{
    color: var(--darkblue);
}
.gmail-icon{
    font-size: 1.1rem;
    color: white;
}
.gmail-address{
    color: white;
    font-size: 1rem;
    margin: 0 0 0 10px;
}
.get-icon-front{
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}
.get-icon{
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}
.all-rights-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
}
.all-rights-reserved{
    color: var(--white);
    font-size: 0.9rem;
}
/* Progress Bar */

.progress-bar-container{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 10px;
}

.progress-bar{
    width: 0;
    height: 100%;
    background: #ccc;
    transition: all ease-in-out 0.5s;
}


/* ================================================================================================================================================================= */

@media only screen and (max-width: 850px) {
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: white;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .icon-burger {
        display: block;
        z-index: 10;
        right: 10%;
        top: 70%;
        filter: drop-shadow(-2px 0 2px black);
    }
    nav :checked~.links {
        left: 0;
    }
    nav .links a {
        font-size: 32px;
        filter: drop-shadow(0px 0 0px black);
    }
    nav .links li {
        padding: 25px 0;
    }
    .header-line {
        display: none;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(6px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    .nav-hr-container,
    #hide-mobile-nav-contact {
        display: flex;
    }
    .nav-hr-container,
    .mobile-nav-contact-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .mobile-nav-contact {
        width: 70%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .nav-residential,
    .nav-office,
    .nav-retail {
        border: none;
        padding: 0;
    }
}